node_modules/
bower_components/
npm-debug.log*
dist/
sessions/
.idea
*.iml
*.sublime-project
*.sublime-workspace
junit-reports/
coverage/
build-info.json
env.properties
local.yaml
.deps.json
/.karma
/lib
/es
diagrams/
notes/
.DS_Store
.deps_check
test/specmap/data/private
test/webpack-bundle/.tmp
/openapi-resolver-*.*.*.tgz
jest-stare
yarn-error.log

# Automated releases
release/.version
