# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master, 'release/**' ]
  pull_request:
    branches: [ master, 'release/**' ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Cache Node Modules
      id: cache-node-modules
      uses: actions/cache@v2
      with:
        path: node_modules
        key: node-modules-${{ hashFiles('yarn.lock') }}
    - name: Install dependencies
      if: steps.cache-node-modules.outputs.cache-hit != 'true'
      run: yarn --frozen-lockfile
    - name: Lint code
      run: yarn lint
    - name: Run all tests
      run: yarn test
      env:
        CI: true
    - name: Build
      run: yarn build
    - name: Upload commonjs build artifacts
      if: startsWith(matrix.node-version, '16')
      uses: actions/upload-artifact@v1
      with:
        name: commonjs
        path: ./lib/

  commonjs-artifacts-test:
    name: commonjs-artifacts-test
    runs-on: ubuntu-latest
    needs: [build]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js lowest enabled version
      uses: actions/setup-node@v2
      with:
        node-version: 16.x

    - name: Cache Node Modules
      id: cache-node-modules
      uses: actions/cache@v2
      with:
        path: node_modules
        key: node-modules-${{ hashFiles('yarn.lock') }}
    - name: Install dependencies
      if: steps.cache-node-modules.outputs.cache-hit != 'true'
      run: yarn --frozen-lockfile

    - name: Download commonjs build artifacts
      uses: actions/download-artifact@v4.1.7
      with:
        name: commonjs

    - name: Run commonjs build artifacts
      run: node -p "require('./commonjs')"

    - name: Use Node 16.x
      uses: actions/setup-node@v2
      with:
        node-version: 16.x
    - name: Run commonjs build artifacts on Node.js 16.x
      run: node -p "require('./commonjs')"
  deploy:
    runs-on: ubuntu-latest
    needs: [build, commonjs-artifacts-test]

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'

      - name: Install packages
        run: yarn --frozen-lockfile
      - name: Run build
        run: node make.js build && yarn build
      - name: Test
        run: yarn lint && yarn test
      - name: Deploy to NPM
        if: github.repository_owner == 'Authress-Engineering' && github.ref != 'refs/heads/main' && github.ref != 'refs/heads/master' && github.event_name == 'push'
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}

      - name: After build
        if: github.repository_owner == 'Authress-Engineering' && github.ref != 'refs/heads/main' && github.ref != 'refs/heads/master' && github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node make.js after_build
      - name: Create Github Release and Tag
        if: github.repository_owner == 'Authress-Engineering' && github.ref != 'refs/heads/main' && github.ref != 'refs/heads/master' && github.event_name == 'push'
        run: |
          git tag ${GITHUB_REF/refs\/heads\/release\//}.$GITHUB_RUN_NUMBER
          git push origin ${GITHUB_REF/refs\/heads\/release\//}.$GITHUB_RUN_NUMBER
